<h1>Log In Below:</h1>

<form action="/sessions" method ="post">

<label for="email">Email: </label>
<input type="email" name="email"></input>

<label for="password">Password: </label>
<input type="password" name="password"></input>

<input type="submit" value="Log In"</input>
</form>