<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    <b>Email <input type="text" name="email"></b>
    <b>Password <input type="text" name="password">
    <input type="submit" id="log_in" value="Log In">
</form> 