<h1>Sign Up Below:</h1><br>

<form method="POST" action="/registrations">
    <b>Name <input type="text" name="name"></b>
    <b>Email <input type="text" name="email"></b>
    <b>Password <input type="text" name="password">
    <input type="submit" id="submit" value="Sign Up">
</form> 
