<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST"=>
  <input type="text" name="name" placeholder="Enter a name">
  <input type="text" name="email" placeholder="Enter an email">
  <input type="password" name="password" placeholder="Enter a password">
  <input type="submit" value="Sign Up">
</form>
